// start slide
.slide {
  background-size: cover;
  background-image: url(../image/details-image/details-header-3.jpg);
  min-height: 400px;
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    background: #000a2d;
    opacity: 0.6;
    left: 50%;
    -webkit-transform: skewX(-32deg);
    transform: skewX(-32deg);
    z-index: -1;
    @media (max-width: 767px) {
      display: none;
    }
  }
  img {
    position: absolute;
    left: 50%;
    top: 25%;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    @media (max-width: 767px) {
      color: #3267ff;
    }
  }
  .breadcrumb {
    .breadcrumb-item:first-child {
      padding: 0;
    }
    .breadcrumb-item {
      padding-left: 0;
      padding-right: 8px;
      font-size: 18px;
      font-weight: 400px;
      &::before {
        content: "";
      }
      &::after {
        content: "|";
        float: none;
        padding-right: 8px;
        color: #fff;
      }
      a {
        text-decoration: none;
        color: #fff;
        @media (max-width: 767px) {
          color: #000;
        }
        &:hover {
          color: #3267ff;
        }
      }
    }
    .active {
      color: #fff;
      @media (max-width: 767px) {
        color: #000;
      }
      &::after {
        content: "";
      }
    }
  }
}

// Start slide
