/* Start Slide index */
.slide-index {
  height: 70vh;
  position: relative;
  margin-bottom: 100px;
  background-size: cover;
  background-image: url(../image/slide-index/header.jpg);
}
.slide-index .container {
  position: relative;
  height: 100%;
}
.slide-index .container .home {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
@media (max-width: 575px) {
  .slide-index .container .home {
    bottom: 60%;
  }
}
.slide-index .container .home h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.6;
  color: #27477d;
}
@media (max-width: 767px) {
  .slide-index .container .home h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .slide-index .container .home h2 {
    font-size: 20px;
  }
}
.slide-index .container .home span {
  color: #3267ff;
}
.slide-index .container .home p {
  color: #6c757d;
  font-size: 17px;
  line-height: 187.5%;
}
@media (max-width: 575px) {
  .slide-index .container .home p {
    font-size: 13px;
  }
}
.slide-index .container .form {
  position: absolute;
  background: #fff;
  padding: 40px 0;
  width: 80%;
  border-radius: 10px;
  bottom: -49px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0px 0px 50px 8px rgba(0, 10, 45, 0.05);
          box-shadow: 0px 0px 50px 8px rgba(0, 10, 45, 0.05);
}
@media (max-width: 991px) {
  .slide-index .container .form {
    width: 100%;
    padding: 20px 0;
  }
}
.slide-index .container .form label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .slide-index .container .form label {
    font-size: 14px;
    padding-top: 10px;
  }
}
.slide-index .container .form label svg {
  padding-left: 10px;
  color: rgba(75, 104, 189, 0.9882352941);
}
.slide-index .container .form input {
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 16px;
  outline: none;
  font-size: 14px;
}
@media (max-width: 767px) {
  .slide-index .container .form input {
    font-size: 11px;
    padding: 12px;
  }
}
.slide-index .container .form a {
  background: #3267ff;
  color: #fff;
  padding: 14px 35px;
  border: none;
  border-radius: 5px;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .slide-index .container .form a {
    padding: 10px 20px;
    margin-top: 39px;
  }
}

/* end slide index */
.Services {
  margin-top: 28px;
  background: #fff;
}
.Services h2 {
  font-size: 22px;
  font-weight: 700;
  color: #4f4f4f;
  padding: 25px 0;
  margin: 0;
}
.Services .Services-text {
  padding: 25px 0;
}
.Services .Services-text .servic-icon {
  padding: 25px 0 15px 0;
}
.Services .Services-text .servic-icon span {
  padding: 16px;
  background: #f1f8ff;
  border: 1px solid rgba(50, 103, 255, 0.5);
  border-radius: 50%;
}
.Services .Services-text .servic-icon span img {
  width: 23px;
  height: 22px;
}
.Services .Services-text .servic-icon h3 {
  font-size: 18px;
  font-weight: 700;
  color: #4f4f4f;
  padding-right: 20px;
}
.Services .Services-text .servic {
  padding: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 40px;
}
.Services .Services-text .servic:hover {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
}
.Services .Services-text .servic.active {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
}
.Services .Services-text .servic .text p {
  font-size: 14px;
  font-weight: 400;
  color: #6c757d;
  line-height: 1.8;
  min-height: 130px;
}
.Services .Services-text .servic .text a {
  padding: 15px 25px;
  border-radius: 5px;
  background: #f1f8ff;
  border: none;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Services .Services-text .servic .text a:hover {
  background: #3267ff;
  color: #fff;
}
.Services .Services-text .servic .text a.active {
  background: #3267ff;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Services .Services-text .servic .text a.active:hover {
  background: #f1f8ff;
  color: #000;
}

/* Start About-Us */
.about-us {
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .about-us {
    text-align: center;
  }
}
.about-us h2 {
  font-size: 22px;
  font-weight: 800;
  color: #4f4f4f;
  padding: 25px 0;
  margin: 0;
}
.about-us .box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us .box img {
  padding-top: 30px;
  max-width: 100%;
}
.about-us .about h3 {
  line-height: 1.8;
  color: #27477d;
  font-size: 20px;
  font-weight: 800;
}
.about-us .about p {
  color: #6c757d;
  font-size: 18px;
  line-height: 1.6;
}
@media (max-width: 991px) {
  .about-us .about p {
    font-size: 15px;
  }
}
.about-us .about button {
  background: #3267ff;
  color: #fff;
  border: none;
  padding: 15px 45px;
  border-radius: 5px;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-us .about button:hover {
  background: #f1f8ff;
  color: #000;
}

/* End About-Us */
.articles {
  margin-top: 28px;
  background: #fff;
  padding-bottom: 65px;
  margin-bottom: 28px;
}
.articles h2 {
  font-size: 22px;
  font-weight: 700;
  color: #4f4f4f;
  padding: 25px 0;
  margin: 0;
}
.articles .card {
  margin-top: 18px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.articles .card:hover {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
}
.articles .card.active {
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.05);
}
.articles .card img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.articles .card .card-body {
  padding: 23px 27px 0 27px;
}
.articles .card .card-body .card-icons .icon svg {
  color: #4f4f4f;
}
.articles .card .card-body .card-icons .icon h5 {
  font-size: 18px;
  font-weight: 600;
  color: #4f4f4f;
  padding-right: 20px;
  margin: 0;
}
@media (max-width: 1199px) {
  .articles .card .card-body .card-icons .icon h5 {
    font-size: 14px;
    padding-right: 10px;
  }
}
.articles .card .card-body .text p {
  font-size: 14px;
  font-weight: 400;
  color: #6c757d;
  padding: 10px 0 23px 0;
}
.articles .card .card-body .text a {
  padding: 15px 39px;
  border-radius: 5px;
  background: #f1f8ff;
  border: none;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.articles .card .card-body .text a:hover {
  background: #3267ff;
  color: #fff;
}
.articles .card .card-body .text a.active {
  background: #3267ff;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.articles .card .card-body .text a.active:hover {
  background: #f1f8ff;
  color: #000;
}

.team-work {
  background: #fff;
  margin-top: 30px;
  padding-bottom: 30px;
}
.team-work h2 {
  font-size: 22px;
  font-weight: 700;
  color: #4f4f4f;
  padding: 25px 0;
  margin: 0;
}
.team-work .team-group {
  padding-top: 20px;
}
.team-work .team-group .team-card {
  padding: 25px 0 0;
  margin-bottom: 20px;
  border-radius: 5px;
  min-height: 500px;
  background: #f1f8ff;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 10, 45, 0.04);
          box-shadow: 0px 15px 40px 0px rgba(0, 10, 45, 0.04);
  position: relative;
}
.team-work .team-group .team-card img {
  height: 100%;
}
.team-work .team-group .team-card .team-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 50%;
  padding-bottom: 32px;
  padding: 0 30px 32px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.team-work .team-group .team-card .team-text h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
}
.team-work .team-group .team-card .team-text span {
  font-size: 16px;
  font-weight: 400;
  color: #6c757d;
}
.team-work .team-group .team-card .team-text .social {
  padding: 25px 0 0;
}
.team-work .team-group .team-card .team-text .social a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team-work .team-group .team-card .team-text .social a svg {
  color: #999;
}
.team-work .team-group .team-card .team-text .social a:last-child {
  margin: 0;
}

.commint {
  padding: 24px 12px;
  background: #fff;
}
.commint .container {
  padding: 60px 0;
}
.commint .container h3 {
  color: #4f4f4f;
  font-size: 25px;
  font-weight: 700;
}
.commint .container h3 span {
  color: #3267ff;
}
.commint .container p {
  color: #6c757d;
  font-size: 20px;
  font-weight: 400;
  margin: 0 100px;
  padding: 20px 0 30px 0;
}
@media (max-width: 991px) {
  .commint .container p {
    margin: 0;
  }
}
.commint .container .commt-group {
  border-radius: 50px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 250px 0px rgba(13, 30, 58, 0.1);
          box-shadow: 0px 0px 250px 0px rgba(13, 30, 58, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}
.commint .container .commt-group h4 {
  color: #4f4f4f;
  font-size: 17px;
  font-weight: 700;
  padding: 40px 0;
}
.commint .container .commt-group hr {
  width: 80%;
  height: 2px;
  background: #27477d;
}
.commint .container .commt-group .commt-text {
  padding-top: 25px;
  position: relative;
}
.commint .container .commt-group .commt-text span {
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 60px 0px rgba(39, 71, 125, 0.18);
          box-shadow: 0px 5px 60px 0px rgba(39, 71, 125, 0.18);
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: -36px;
}
.commint .container .commt-group .commt-text .commt-name h5 {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
}
.commint .container .commt-group .commt-text .commt-name h6 {
  color: #27477d;
  font-size: 14px;
  font-weight: 400;
}
.commint .container .commt-group .commt-text .evaluation svg {
  color: #fec624;
}